@import url("https://fonts.googleapis.com/css2?family=Robot:wght@400&display=swap");
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  background-color: #0aceb1;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 17px;
  -webkit-transition: all 5s linear;
  transition: all 5s linear;
}
.btn:hover {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e72bc), to(#0aceb1));
  background: linear-gradient(to bottom, #1e72bc 0%, #0aceb1 100%);
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e72bc), to(#0aceb1));
  background: linear-gradient(to bottom, #1e72bc 0%, #0aceb1 100%);
}

/* Start Header */
header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  font-weight: 600;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100px;
  z-index: 100;
  min-height: 100px;
  -webkit-box-shadow: 0 8px 6px -6px #999999;
          box-shadow: 0 8px 6px -6px #999999;
}
header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 576px) {
  header .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
header .navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
header .navbar-top img {
  max-width: 235px;
}
header .navbar .menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  color: #1e72bc;
  border: 2px solid #1e72bc;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}
@media (min-width: 992px) {
  header .navbar .menu-toggle {
    display: none;
  }
}
header .navbar .nav-list li {
  overflow: hidden;
}
header .navbar .nav-list {
  display: none;
}
@media (min-width: 992px) {
  header .navbar .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .navbar .nav-list a {
  padding: 5px 10px;
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
header .navbar .nav-list a::after {
  content: "";
  background-color: #0aceb1;
  margin: auto;
  position: absolute;
  left: -130px;
  bottom: 3px;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
header .navbar .nav-list a:hover {
  color: #0aceb1;
}
header .navbar .nav-list a:hover::after {
  left: 0px;
}
header .navbar .navbar-button {
  margin-top: 10px;
}
@media (min-width: 576px) {
  header .navbar .navbar-button {
    margin: 0 0 0 10px;
  }
}
header .navbar .navbar-button .btn {
  display: block;
}

/* End Header */
/*----------------------------------------------------*/
/* Start Sidebar */
.sidebar {
  position: fixed;
  left: -992px;
  top: 136.6px;
  width: 100%;
  height: calc(100vh - 136.6px);
  background: -webkit-gradient(linear, left top, left bottom, from(#1e72bc), to(#0aceb1));
  background: linear-gradient(to bottom, #1e72bc 0%, #0aceb1 100%);
  opacity: 0.3;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.sidebar.open {
  left: 0;
  opacity: 1;
  z-index: 1000;
}
@media (min-width: 280px) and (max-width: 316px) {
  .sidebar {
    top: 174.43px;
    height: calc(100vh - 174.43px);
  }
}
@media (min-width: 576px) {
  .sidebar {
    top: 100px;
    height: calc(100vh - 100px);
  }
}
@media (min-width: 992px) {
  .sidebar {
    display: none;
  }
}
.sidebar-nav-list {
  padding: 30px 10px;
}
.sidebar-nav-list li {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin: auto;
  overflow: hidden;
}
.sidebar-nav-list li a {
  padding: 5px 10px;
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.sidebar-nav-list li a::after {
  content: "";
  background-color: #0aceb1;
  margin: auto;
  position: absolute;
  left: -130px;
  bottom: 2px;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.sidebar-nav-list li a:hover {
  color: #0aceb1;
}
.sidebar-nav-list li a:hover::after {
  left: 0px;
}

/* End Sidebar */
/*----------------------------------------------------*/
/* Start Banner */
.banner {
  margin-top: 138.2px;
  background-image: url("./images/slide1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: calc(100vh - 100px);
  overflow: hidden;
}
@media (min-width: 576px) {
  .banner {
    margin-top: 100px;
  }
}
@media (min-width: 768px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.banner .container {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .banner .container {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
.banner .container .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  font-size: 24px;
}
@media (min-width: 768px) {
  .banner .container .banner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.banner .container .banner-image {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
@media (min-width: 768px) {
  .banner .container .banner-image {
    width: 165%;
    margin-top: 100px;
  }
}
.banner .container .banner-image:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

/* End Banner */
/*----------------------------------------------------*/
/* Start About */
.about {
  margin-top: 30px;
}
.about .container .box {
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .about .container .box {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
.about .container .box .box-content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about .container .box .box-content h1 {
  background: -webkit-gradient(linear, left top, right top, from(#1e72bc), to(#0aceb1));
  background: linear-gradient(to right, #1e72bc 0%, #0aceb1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .container .box .middle-p {
  margin-top: 25px;
  margin-bottom: 25px;
}
.about .container .box .box-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.about .container .box .box-image:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.about .container .box img {
  max-width: 300px;
}
@media (min-width: 768px) {
  .about .container .middle-box .middle-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

/* End About */
/*----------------------------------------------------*/
/* Start Services */
.services {
  background-image: url("./images/bg_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  padding-bottom: 30px;
}
@media (min-width: 576px) {
  .services {
    min-height: 200vh;
  }
}
@media (min-width: 768px) {
  .services {
    min-height: 120vh;
  }
}
.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background-image: url("./images/top_layer.png");
}
.services::after {
  content: "";
  background-image: url("./images/bottom_layer.png");
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 240px;
}
.services .container {
  padding-top: 300px;
}
@media (min-width: 576px) {
  .services .container {
    display: -ms-grid;
    display: grid;
    gap: 100px;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .services .container {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
.services .container .service-box {
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  text-align: center;
  padding: 100px 40px 20px;
  margin-top: 10px;
  margin-bottom: 100px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.services .container .service-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.services .container .service-box .service-image {
  border: 7px solid #eeeeee;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: -75px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 150px;
}
.services .container .service-box .service-content h2 {
  margin-top: 30px;
  margin-bottom: 40px;
}
.services .container .service-box .service-content p {
  width: 75%;
  margin: auto;
  margin-bottom: 40px;
}

/* End Services */
/*----------------------------------------------------*/
.screenshoots h1 {
  color: #000000;
  text-align: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
.screenshoots h1::before {
  content: "";
  width: 100px;
  height: 5px;
  position: absolute;
  background-color: #dddddd;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.screenshoots .box {
  font-size: 0px;
}
@media (min-width: 576px) {
  .screenshoots .box {
    display: -ms-grid;
    display: grid;
    gap: 0;
    -ms-grid-columns: 1fr 0px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }
}
@media (min-width: 768px) {
  .screenshoots .box {
    display: -ms-grid;
    display: grid;
    gap: 0;
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
  }
}
.screenshoots .box .img {
  overflow: hidden;
}
.screenshoots .box .img img {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.screenshoots .box .img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*----------------------------------------------------*/
/* Start Features */
.features h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  font-weight: bold;
}
.features h1::before {
  content: "";
  width: 100px;
  height: 5px;
  position: absolute;
  background-color: #dddddd;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.features h1 span {
  color: #1e72bc;
}
.features .container {
  border-bottom: 2px solid #ffffff;
  padding-top: 100px;
  padding-bottom: 20px;
}
@media (min-width: 576px) {
  .features .container {
    display: -ms-grid;
    display: grid;
    gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .features .container {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
.features .container .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 576px) {
  .features .container .feature {
    margin-bottom: -40px;
  }
}
@media (min-width: 768px) {
  .features .container .feature {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.features .container .feature .sub-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 140px;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.features .container .feature .sub-feature:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.features .container .feature .sub-feature .feature-icon {
  color: #0aceb1;
  text-align: center;
  border: 2px solid #0aceb1;
  border-radius: 50%;
  padding: 20px;
  margin-right: 20px;
}
.features .container .feature .sub-feature .feature-icon i {
  width: 45px;
  font-size: 40px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.features .container .feature .sub-feature .feature-icon:hover {
  background-color: #1e72bc;
  color: #ffffff;
  border-color: #1e72bc;
}
.features .container .image {
  display: block;
  margin: auto;
}
@media (min-width: 576px) {
  .features .container .image {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .features .container .image {
    width: 75%;
  }
}
.features .container .image img {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.features .container .image img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

/* End Features */
/*----------------------------------------------------*/
/* Start Steps */
.steps {
  background-image: url("./images/bg_gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 920px;
  text-align: center;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .steps {
    height: 700px;
  }
}
.steps::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background-image: url("./images/top_layer.png");
}
.steps::after {
  content: "";
  background-image: url("./images/bottom_layer.png");
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 240px;
}
.steps h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  font-size: 40px;
  top: 250px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50%;
  font-weight: bold;
}
.steps h1::before {
  content: "";
  width: 100px;
  height: 5px;
  position: absolute;
  background-color: #dddddd;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.steps h1 span {
  color: #1e72bc;
}
.steps .container {
  position: absolute;
  width: 100%;
  margin: -40px auto;
}
@media (max-width: 400px) {
  .steps .container {
    bottom: 70%;
  }
}
@media (max-width: 767px) {
  .steps .container {
    bottom: 10%;
  }
}
@media (min-width: 576px) {
  .steps .container {
    bottom: 35%;
  }
}
@media (min-width: 768px) {
  .steps .container {
    bottom: 18%;
  }
}
@media (min-width: 992px) {
  .steps .container {
    bottom: 35%;
  }
}
@media (min-width: 576px) {
  .steps .container {
    display: -ms-grid;
    display: grid;
    gap: 0px;
    -ms-grid-columns: 1fr 0px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .steps .container {
    display: -ms-grid;
    display: grid;
    gap: 0px;
    -ms-grid-columns: 1fr 0px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .steps .container {
    display: -ms-grid;
    display: grid;
    gap: 0px;
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}
.steps .step {
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 5%;
}
.steps .step i {
  font-size: 70px;
  margin-bottom: 15px;
}
.steps .step p {
  font-weight: bold;
  font-size: 25px;
}

/* End Steps */
/*----------------------------------------------------*/
/* Start Prices */
.prices h1 {
  color: #000000;
  text-align: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
.prices h1::before {
  content: "";
  width: 100px;
  height: 5px;
  position: absolute;
  background-color: #dddddd;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.prices .container {
  text-align: center;
}
@media (min-width: 576px) {
  .prices .container {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 705px) {
  .prices .container {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 992px) {
  .prices .container {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
.prices .container .price {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 15px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 6px 6px 2px -6px #999999;
          box-shadow: 6px 6px 2px -6px #999999;
}
.prices .container .price:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.prices .container .price .main-content {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.prices .container .price .main-content h2 {
  background-color: #0aceb1;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 50px;
  margin-bottom: 20px;
}
.prices .container .price .main-content.main-2 h2 {
  background-color: #1e72bc;
}
.prices .container .price .main-content p {
  color: #1e72bc;
  font-size: 40px;
}
.prices .container .price .main-content span {
  color: #1e72bc;
  font-size: 20px;
}
.prices .container .price .main-content::before {
  content: "";
  width: 200px;
  height: 1px;
  position: absolute;
  background-color: #dddddd;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.prices .container .price .basic-content p {
  font-size: 20px;
  font-weight: 500;
  margin: 40px;
}
.prices .container .price .btn a {
  color: #ffffff;
}
.prices .container .price .btn-2 {
  background-color: #0aceb1;
}

/* End Prices */
/*----------------------------------------------------*/
/* Start Team */
.teams {
  padding-top: 50px;
}
.teams h1 {
  color: #000000;
  text-align: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
.teams h1::before {
  content: "";
  width: 100px;
  height: 5px;
  position: absolute;
  background-color: #dddddd;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.teams .container {
  text-align: center;
}
@media (min-width: 576px) {
  .teams .container {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .teams .container {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}
.teams .team {
  margin-bottom: 20px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.teams .team:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.teams .team img {
  margin-bottom: 20px;
  border-radius: 10px;
}
.teams .team .name {
  color: #1e72bc;
  font-weight: bold;
  margin-bottom: 10px;
}
.teams .team .job {
  font-weight: bold;
}

/* End Team */
/*----------------------------------------------------*/
/* Start Contact */
.contact {
  margin: 50px 0;
  background-color: #1e72bc;
  color: #ffffff;
}
@media (min-width: 768px) {
  .contact {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact .google-map {
  width: 100%;
  min-height: 400px;
}
.contact .contact-form {
  width: 500px;
  max-width: 100%;
  padding: 25px;
  margin: auto;
}
.contact .contact-form .section-title {
  color: #ffffff;
}
.contact .contact-form p {
  margin: 40px 0;
}
.contact .contact-form input, .contact .contact-form textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 13px;
  border: none;
  outline: none;
}
.contact .contact-form textarea {
  resize: none;
}
.contact .contact-form .send {
  background-color: #0aceb1;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 17px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.contact .contact-form .send:hover {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e72bc), to(#0aceb1));
  background: linear-gradient(to bottom, #1e72bc 0%, #0aceb1 100%);
}

/* End Contact */
/*----------------------------------------------------*/
/* Start Footer */
.footer {
  padding-top: 50px;
}
.footer .container {
  padding-bottom: 70px;
}
@media (min-width: 576px) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer .container .box-1 {
  margin-bottom: 20px;
}
.footer .container .box-1 .img {
  min-height: 85px;
}
.footer .container .box-1 .img img {
  max-width: 200px;
}
.footer .container .box-1 .first-p {
  margin-top: 5px;
  margin-bottom: 25px;
}
.footer .container .box-2 {
  margin-bottom: 30px;
}
.footer .container .box-2 .h2 {
  min-height: 90px;
}
.footer .container .box-2 .h2 h2 {
  font-weight: bold;
}
.footer .container .box-2 .first-p {
  margin-bottom: 25px;
}
.footer .container .box-3 h2 {
  font-weight: bold;
  margin-bottom: 25px;
}
.footer .container .box-3 .box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px dotted #dddddd;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.footer .container .box-3 .box a:hover {
  color: #1e72bc;
}
.footer .container .box-3 .box a i {
  font-size: 22px;
}
.footer .container .box-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.footer .container .box-4 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer .container .box-4 .box img {
  min-width: 100px;
}
.footer .container .box-4 .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #1e72bc;
  width: 100%;
  min-height: 50px;
}
.footer .copyright p {
  color: #ffffff;
}
.footer .copyright p a {
  font-weight: bold;
  color: #0aceb1;
}

/* End Footer */